body {
    margin: 0px;
    background: #f5ecd5;
    font-weight: 400;
    font-family: Arial,Helvetica,Verdana,Sans-serif;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

.highlight {
    background-color: #f9f9f9;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}


h1 {
    border-left: 10px rgba(219,203,163,0.5) solid;
    display: table-cell;
    position: relative;
    font-size: 20pt;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 15px;
    margin-bottom: 0;
}

a {
    color: #009ba9;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
}

#header {
    min-height: 100px;
    margin-bottom: 10px;
    background: #333;
}

#header a {
    color: white;
}

#header h4 a {
    font-size: 1.3em;
}

#header h4 small {
    font-size: 0.9em;
}

#header a:hover {
    text-decoration: none;
}

#top {
    max-width: 960px;
    margin: auto;
    zoom: 1;
    height: 50px;
    line-height: 50px;
}

#top .brand {
    position: relative;
    margin: 0;
}

#menu {
    min-height: 50px;
    background: #c59721;
    color: #333;
    line-height: 50px;
    font-size: 11pt;
    font-weight: bold;
    z-index: 999;
    zoom: 1;
    transition: box-shadow .3s;
}

#menu .wrapper {
    position: relative;
    max-width: 960px;
    margin: auto;
}

#menu ul {
    float: left;
}

#menu ul li {
    float: left;
    margin-left: 1.5em;
}

#menu a:hover {
    text-decoration: underline;
}

nav ul,
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#document {
    position: relative;
    min-height: 100%;
    margin-bottom: -50px;
    zoom: 1;
}

#document:after {
    content: "";
    display: table;
    clear: both;
}

.document-style {
    zoom: 1;
    position: relative;
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

#footer {
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    background: #333;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}

#footer #imprint {
    position: relative;
    width: 960px;
    margin: 0 auto;
    text-align: left;
    font-style: normal;
    color: #aaa;
}

#footer a {
    color: #fff;
}

#content {
    float: right;
    width: 680px;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}

#navigation {
    width: 230px;
    float: left;
    margin-right: 40px;
    font-size: 0.9em;
    border: 1px solid #dbcba3;
    background: #fff;
}

#navigation ul.nav {
    padding: 0 15px;
}

#navigation li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

#content-and-nav {
    margin-top: 30px;
}

#logo {
    background: url("../assets/logo-mergado-docs.png") no-repeat left center;
    color: #fff;
    display: inline-block;
    float: left;
    height: 25px;
    position: relative;
    top: 12.5px;
    width: 240px;
    padding-right: 40px;
}

#logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#logo a h2 {
    height: 100%;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

.nav-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}

pre,
code {
  font-family: "Consolas", "DejaVu Sans Mono", "Lucida Sans Typewriter", monospace;
  font-size: 15px;
  border-radius: 0;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  margin-top: 13px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dbcba3;
}

figure.highlight {
    margin: 0;
}
