<header id="header">
    <div id="top">
        <div id="logo">
            <a href="{{ site.baseurl }}/" title="{{ site.title }}">
                <h2>{{ site.title }}</h2>
            </a>
        </div>
    </div>
    <nav id="menu">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/">Documentation</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/changelog.html">Change Log</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/support.html">Support</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
