<header id="header">
    <div id="top">
        <div id="logo">
            <a href="{{ site.baseurl }}/" title="{{ site.title }}">
                <h2>{{ site.title }}</h2>
            </a>
        </div>
    </div>
    <nav id="menu">
        <div class="wrapper">
            <ul>
                {% for menu_item in site.menu_items %}
                <li {% if menu_item[0] == page.active_item %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/{{ menu_item[0] }}">{{ menu_item[1] }}</a>
                <li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
